<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WireWannabe</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class=" container">
        <div class="header">WireWannabe</div>
        <hr>
        <div class="content">
            Wireshark is a powerful, open-source network protocol analyzer that enables users to monitor, capture, and
            analyze
            network traffic in real-time. Widely recognized as the industry standard for network troubleshooting,
            performance
            analysis, and cybersecurity diagnostics, Wireshark is an essential tool for network administrators, security
            professionals, developers, and IT enthusiasts alike.
            Wireshark functions as a packet sniffer, allowing users to observe data traveling across a network at a
            microscopic
            level. This includes capturing detailed information about network packets, analyzing their content, and
            identifying
            patterns or anomalies. It helps in diagnosing network performance issues, detecting malicious activities,
            understanding
            protocols, and ensuring compliance with security policies.
        </div>
        <div class="steps">STEP-1:</div>
        <div class="buttons">
            <button><a href="/second">Capture</a></button>
            <button><a href="/display">Display</a></button>
        </div>
    </div>

    <script>

    </script>
</body>

</html>